#wrapper {
    display: flex;
    color: var(--mainColor);
}
#content {
    min-width: 100%;
    min-height: 100vh;
}
#content .content-container {
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border: 1px solid #000;
}
#content section#profile {
    padding: 40px 40px;
}
#profile .avatar-info, #profile .basic-info, #profile .social-info, #profile .password-info {
    width: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin: 20px auto;
}
#profile h2 {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--subColor);
    font-family: var(--fontSub);
    font-weight: bold;
    /* text-align: center; */
}
#content section#profile img.profile-avatar {
    width: 250px;
    border-radius: 50%;
}

#profile .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.label-input {
    width: 100%;
    margin: 10px 20px;
    padding: 0 10px;
}
.label-input .label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.label-input .input {
    line-height: 40px;
    width: 100%;
    border-radius: 10px;
    border:none;
    box-shadow:var(--shadow75);
    margin-bottom: 15px;
    font-size: 15px;
    color: var(--mainColor);
    font-weight: bold;
}

button.submit-button {
    width: 200px;
    border:none;
    background-color: var(--mainColor);
    color: #fff;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: var(--shadow75);
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}