@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #4a4a4a;
}

html,
body {
  background: #fff;
  font-family: 'Quicksand', sans-serif;
}

input:focus {
  outline: none;
}

:root {
  --fontMain: 'Quicksand', sans-serif;
  --fontSub : 'Roboto Condensed', sans-serif;
  --shadow225: 2px 2px 5px rgba(0, 132, 255, 0.5);
  --shadow75: 0 0 5px rgba(0, 132, 255, 0.75);
  --shadow50: 0 0 5px rgba(0, 132, 255, 0.5);
  --shadow44: 4px 4px 20px rgba(0, 132, 255, 0.75);
  --shadow02: 0 0 20px rgba(0, 132, 255, 0.1);
  --mainColor: #0084FF;
  --subColor: #FF0000;
  --subColor2: #424242;
}